<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename='css/login_styles.css') }}">
    <title>Reset Password</title>
</head>
<style>

</style>
<body>

<div class="row justify-content-center">
    <h2 class="mt-5">White Hat Security Project - Secure Site</h2>
</div>
<div class="container">

    <!-- <div class="container h-100">
    -->
    <div class="row h-100 justify-content-center mb-5">

            <!-- source: https://www.tutorialrepublic.com/snippets/preview.php?topic=bootstrap&file=simple-login-form-->
            <div class="login-form w-50 justify-content-center mt-5">
                <form action="{{ url_for('passwordReset', token=token) }}" method="POST">
                    <h4 class="text-center pb-5">Password Reset</h4>
                    <p class="text-center mt-5">Password must be at least 8 characters long and contain a lower case letter,
                        an upper case letter, a number and a special character.</p>

                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <div class="alert alert-{{ category }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}

                    <div class="form-group">
                        <input type="password" name="password" class="form-control" placeholder="Password"
                               required="required">
                    </div>

                    <div class="form-group">
                        <input type="password" name="confirm_password" class="form-control"
                               placeholder="Confirm Password" required="required">
                    </div>
                    <div class="form-group mt-3">
                        <button type="submit" class="btn btn-primary btn-block">Reset Password</button>
                    </div>

                </form>
            </div>


    </div>
</div>



<!-- jQuery first, then Popper.js, then Bootstrap JS for bootstrap -->
<script crossorigin="anonymous"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
